.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  box-sizing: content-box;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.589);
}

.playingCard {
    width: auto;
    height: auto;
    max-height: 120px;
    margin: 4px;
}

.playerCard:hover{
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.589);
    border: solid red
}

.cardHolder {
    position: absolute;
    height: auto;
    width: auto;
}

.hand {
    position: relative;
}

img {
    display: block;
}

.box {
    background-color: lightblue;
    min-height: 50px;
}

.bottomHand {
    margin-bottom: 160px;
}

.cardTable {
    background-image: url("/src/assets/woodenTableStock.jpg");
    background-color: brown;
    width: 420px;
    height: 320px;
    margin-top: 80px;
    border: 1px solid black;
}

.gameRoom {
    background: #C0C0C0;
    border: solid black;
    margin: 2px;
    width: 400px;
    height: 40px;
    text-align: center;
}

/*Styling for the scoreboard pop-up (and others in the future?)*/
.popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;   
    text-align: center;
}

.popup-inner{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 20px;
    background: white;
    border-radius: 10px;
    border: 2px solid green;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-inner button{
    top: 16px;
    right: 16px;
}

.playerIcon {
    width: 100px;
    height: 100px;
    margin: 4px;
}

/* When its a players turn, their icon should highlight in the UI*/
.activePlayer {
    border: 2px solid red;
    box-shadow: 0 0 2px red, 0 0 10px red, 0 0 15px red, 0 0 20px red;
}

/* Opponent display cards must be a little smaller */
.opponentDisplay {
    transform: scale(.8)
}

.topOppenentDisplay{
    width: 100px;
    height: 100px;
}

.heartsGame{
    min-height: 100vh; /* Ensures the container spans the full viewport height */
    background-color: lightgreen;

}