.downloadCards {
  display: flex;
  flex-direction: row;
}
.card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card {
  box-sizing: content-box;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.589);
}

.container {
  padding: 2px 16px;
}

.playingCard {
    max-height: 200px;
    margin: 5px;
}

.playingCard:hover{
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.589);
    border: solid red
}

.cardHolder {
    height: auto;
    width: auto;
    position: absolute;
}

.hand {
    position: relative;
}

img {
    display: block;
}

